<!-- -->
<launch>
	<!-- 
	   BEFORE:
	   Bringup ranger
	   $ roslaunch ranger_ros bringup.launch
	   
	   Visualization:
	   $ roslaunch ranger_description display.launch
	   
	   RGB-D sensor:
	   $ roslaunch ranger_ros 3dsensor.launch
	   
	   Mapping:
	   $ roslaunch ranger_librarian ranger_mapping.launch
	-->

	
	<!-- include map control to add waypoints-->
	<include file="$(find ranger_librarian)/launch/include/map_control.launch"/>
	
	<!-- Mapping -->
	<include file="$(find ranger_librarian)/launch/rtab_slam.launch">
		<arg name="rtabmapviz" default="true" /> 
	</include>
	
</launch>
